@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --font-family: 'Playfair Display', sans-serif;
  --links-font-family: 'Oswald', sans-serif;

  --color-bg: #263738f7;
  --color-link: #C9DB3C;
  --color-blog: #042c54;
  --color-text: #263738;
  /* --color-bg: #2e754e; */

  --color-subtext: #FF8A71;
}